<section class="py-64">
    <div class="About_Wrapper">
        <div class="l-grid-main">
            {%- for block in section.blocks -%}
                <div class="l-grid-main__cell col-sm-6">
                    <a href="{{ block.settings.link }}" class="About">
                        <span class="About__hover">
                            <span class="About__hover-btn">VIEW MORE</span>
                        </span>
                        <div class="About__img-wrap">
                            <img class="About__img" src="{{ block.settings.image | img_url: '800x' }}" alt="">
                        </div>
                        <div class="About__title">
                            <h3><span class="About__head-main mark">{{ block.settings.heading }}</span><br class="pc--none"><span
                                        class="About__head-sub">{{ block.settings.subheading }}</span>
                            </h3>
                        </div>
                        {%- if block.settings.product -%}
                            <div class="About__label">
                                <div class="About__label-inner">
                                    <div class="About__label-txt">
                                        Products
                                    </div>
                                </div>
                            </div>
                        {%- endif -%}
                    </a>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>

{% schema %}
{
"name": "About",
"blocks": [
{
"type": "item",
"name": "Item",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image",
"info": "1200 x 1200px .jpg recommended"
},
{
"type": "text",
"id": "title",
"label": "Label",
"default": "2000",
"info": "Maximum 20 characters allowed."
},
{
"type": "text",
"id": "subheading",
"label": "サブタイトル",
"default": "Sub-heading"
},
{
"type": "text",
"id": "heading",
"label": "メインタイトル",
"default": "Heading"
},
{
"type": "url",
"id": "link",
"label": "リンク"
},
{
"type": "checkbox",
"id": "product",
"label":"プロダクトであればチェックをつける"
}
]
}
],
"presets": [
{
"category": "Advanced",
"name": "About",
"settings": {},
"blocks": [
{
"type": "item",
"settings": {
"title": "About Item"
}
}
]
}
]
}
{% endschema %}