<div class="Container">
    <header class="PageHeader">
        <div class="SectionHeader SectionHeader--center">
            <h1 class="SectionHeader__Heading Heading u-h1 guide_heading">ご利用案内</h1>
        </div>
        <nav class="page-nav">
            <ul class="page-nav__list">
                {% comment %} <li class="page-nav__item"><a class="page-nav__link" href="#sec1">ご注文方法について</a></li> {% endcomment %}
                <li class="page-nav__item"><a class="page-nav__link" href="#sec2">お支払いについて</a></li>
                <li class="page-nav__item"><a class="page-nav__link" href="#sec3">配送・送料について</a></li>
                <li class="page-nav__item"><a class="page-nav__link" href="#sec4">個人情報の取り扱いについて</a></li>
                {% comment %} <li class="page-nav__item"><a class="page-nav__link" href="#sec4">個人情報の取り扱いについて</a></li>
                <li class="page-nav__item"><a class="page-nav__link" href="#sec5">その他</a></li> {% endcomment %}
            </ul>
        </nav>
    </header>
    <div class="PageContent Rte">
        {% comment %} <section id="sec1">
            <h2>ご注文方法について</h2>

        </section> {% endcomment %}
        <section id="sec2" class="guide_section">
            <h2 class="guide_sub_heading">お支払いについて</h2>
            <p>以下のお支払い方法をご利用いただけます。</p>
            <p>クレジットカード決済</p>
            <h3>【ご利用いただけるクレジットカードの種類】</h3>
            <img src="{{ "credit-card.jpg" | asset_url }}" alt="">
            <p>当店のWebサイトでは、SSLというセキュリティーシステムを利用しております。お客様の大切なクレジットカード情報はすべて、暗号化されて送信されます。</p>

            <h3>【ご注意ください】</h3>
            <p>●当店ではセキュリティー上の配慮からクレジットカードのご利用控えは、原則としてお送りしておりません。クレジットカード会社より送付されるご利用明細書をご利用控えとさせていただきます。</p>
            <p>●お客様のご利用状況等によっては、他の決済手段に変更いただく場合がございます。</p>
            <p>●クレジットにてお支払いの場合、ご注文時にWebサイト上でお客様のカードの承認を取らせていただきます。この承認が得られませんと、カードのご利用およびご注文は確定いたしませんのでお気を付けください。</p>

            <h3>【銀行振り込み】</h3>
            <p>
                ご注文後にお送りするご注文確認メールに記載の口座に、5営業日以内にお振り込みください。入金確認後、発送いたします。お振込み手数料はお客様のご負担となりますのでご了承ください。お支払いの期日までに入金確認ができなかった場合、ご注文は自動的にキャンセルされます。</p>
        </section>
        <section id="sec3" class="guide_section">
            <h2 class="guide_sub_heading">配送・送料について</h2>
            <h3>【配送について】</h3>
            <p>■配送は、日本国内に限らせていただきます。</p>
            <p>■ビールは「クール便」、その他は商品によってメール便、混合の場合は「クール便」にてお届けいたします。</p>
            <p>■配送会社のご指定はできません。</p>
            <p>■プレゼント用の包装サービスはございません。予めご了承ください。</p>
            <p>■納品書は発送商品に同梱しません。ご注文後に送信されるご注文確認メール、発送後に送信される発送確認メールでご確認ください。</p>
            <p>■ご注文を同日に複数回いただいた場合、それぞれ別注文として受付け、一口にまとめることはできません。予めご了承ください。</p>
            <h3>【指定日配達・時間帯指定】</h3>
            <p>■お届け日、時間帯のご希望がございましたら、ご注文時にお申し付けください。</p>
            <p>※ご注文が混雑している時のご指定は、ご注文日より7日~10日後以降となります。</p>
            <p>※日付指定をいただいても、道路状況、天候等の諸事情で到着が遅れる場合がございます。ご了承くださいませ。</p>
            <p>(地域によっては、ご指定いただけない場合があります。)</p>
            <p>指定時間は下記の通りです。</p>
            <p>■道路状況、天候等の諸事情で到着が遅れる場合があります。予めご了承ください。</p>

            <h3>【送料一覧】</h3>
            <p>※離島・一部地域は追加送料がかかる場合がございます。その際は事前にメールでご相談ください。</p>
            <p>※大量に購入したい等のご希望は、お問合せからご連絡ください</p>
            <table>
                <thead>
                <tr>
                    <th>配送地域</th>
                    <th>クール送料（税別）</th>
                    <th>常温送料（税別）</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>北海道</td>
                    <td>1,450円</td>
                    <td>1,200円</td>
                </tr>
                <tr>
                    <td>北東北（青森県 岩手県 秋田県）</td>
                    <td>1,130円</td>
                    <td>880円</td>
                </tr>
                <tr>
                    <td>南東北（宮城県 山形県 福島県）</td>
                    <td>1,130円</td>
                    <td>880円</td>
                </tr>
                <tr>
                    <td>関東（東京都 神奈川県 千葉県 山梨県 埼玉県 茨城県 栃木県 群馬県）</td>
                    <td>970円</td>
                    <td>720円</td>
                </tr>
                <tr>
                    <td>信越（新潟県 長野県）</td>
                    <td>970円</td>
                    <td>720円</td>
                </tr>
                <tr>
                    <td>東海（愛知県 静岡県 三重県 岐阜県）</td>
                    <td>890円</td>
                    <td>640円</td>
                </tr>
                <tr>
                    <td>北陸（富山県 石川県 福井県）</td>
                    <td>890円</td>
                    <td>640円</td>
                </tr>
                <tr>
                    <td>関西（大阪府 兵庫県 奈良県 和歌山県 京都府 滋賀県）</td>
                    <td>810円</td>
                    <td>560円</td>
                </tr>
                <tr>
                    <td>中国（鳥取県 島根県 岡山県 広島県 山口県）</td>
                    <td>810円</td>
                    <td>560円</td>
                </tr>
                <tr>
                    <td>四国（徳島県 香川県 愛媛県 高知県）</td>
                    <td>890円</td>
                    <td>640円</td>
                </tr>
                <tr>
                    <td>北九州（福岡県 佐賀県 長崎県 大分県）</td>
                    <td>810円</td>
                    <td>560円</td>
                </tr>
                <tr>
                    <td>南九州（熊本県 宮崎県 鹿児島県）</td>
                    <td>810円</td>
                    <td>560円</td>
                </tr>
                </tbody>
            </table>

            <h3>【返品交換について】</h3>
            <p>●商品がお手元に届きましたら、すぐに内容のご確認をお願いいたします。</p>
            <p>●商品の特性上、お客様のご都合による返品、交換は原則としてお受けいたしかねます。</p>
            <p>●お届けした商品に万一、汚損・破損等がございましたら、恐れ入りますが、商品到着より2日以内にお電話でご連絡下さい。</p>
            <p>●送り間違いは交換させて頂きます。到着日にご連絡下さい。</p>
            <p>●恐れ入りますが商品到着後7日以上過ぎた商品に関しましては、ご返品できませんのでご了承下さい。</p>
            <p>※常温に置かれた商品の不具合の場合および事前にご連絡がなかった場合は交換対応できませんのでご了承ください。</p>
            <p>※商品受け取り時に明らかな破損が見られる場合は、「受け取り拒否」を配達員に伝え、商品を受け取らず、弊社までご連絡ください。</p>
            <h3>【プライバシーポリシー(個人情報取り扱いについて)】</h3>
            <p>「株式会社カナデル」(以下、「当社」という)では、お預かりする個人情報の尊重とその保護に最大限の注意を払い、以下のとおり個人情報保護方針を定めます。</p>
            <h4>◆個人情報とは</h4>
            <p>
                「個人情報」とは、特定の個人を識別することのできる情報を意味するものとします。個人を識別できる情報とは、氏名、年齢、生年月日、電話番号、メールアドレス等の情報で、その情報のみでは識別不可能な場合も、他の情報と容易に照合することができ、それにより特定の個人を識別できるものも含みます。</p>
            <h4>◆個人情報の収集・利用について</h4>
            <p>
                当サイトを閲覧する場合、お客様に関するいかなる情報も入力や開示する必要はなく、匿名のままご自由にご利用いただけます。但し、会員登録や商品購入時、お問合せ時等で、お客様の氏名、住所、電話番号、メールアドレス等の入力をお願いしております。それらの情報の利用目的につきましては、「個人情報の利用目的について」を、管理につきましては、「個人情報の管理について」をご参照下さい。</p>
            <h4>◆個人情報の利用目的について</h4>
            <p>当社は個人情報を以下の目的で利用させていただきます。</p>
            <p>
                ●お客様への商品の発送および代金の請求のためにお客様の氏名、住所、電話番号などの連絡先情報を利用します。また、代金の請求に関連してご指定いただいたクレジットカード番号、銀行口座などのお支払情報を利用する場合があります。</p>
            <p>●ご注文の内容や配送方法などの連絡や確認するために、お客様の氏名、住所、e-mailアドレスなどの連絡先情報、ご注文いただいた商品の種類や数量、ご請求金額などの情報を利用します。</p>
            <p>●お客様に当社が行うキャンペーンや商品・サービスのご案内をするために、ご利用された履歴や、お客様の氏名、住所、e-mailアドレスなどの連絡先情報を利用します。</p>
            <p>●当社のサービス改善を行うために、お客様から寄せられたご意見やアンケートの結果、ご利用履歴などを利用します。</p>
            <p>●お客様からのご要望、お問い合わせに対する回答をするために、お客様の氏名、住所、e-mailアドレスなどの連絡先情報を利用します。</p>
            <p>●次回の会員ログインが容易に行えるよう、ログイン情報の保持の為、Cookie使用しており、保持するか否かはお客様で任意に選択可。その他サイト運営上必要な場合に利用いたします。</p>

            <h4>◆個人情報の管理について</h4>
            <p>当社は以下の体制で個人情報を管理します。</p>
            <p>●個人情報の利用を業務上必要な者だけに制限し、正確かつ最新の状態に保ち、個人情報への不正アクセス、紛失、破壊、改ざん及び漏えい等を防止するための適切な管理を行います。</p>
            <p>●お客様へ商品やサービスを提供する等の業務遂行上、個人情報の一部を外部の委託先へ提供する場合があります。その場合、業務委託先が適切に個人情報を取り扱うように管理いたします。</p>
            <p>
                ●システムに保存されている個人情報については、業務上必要な社員だけが利用できるようアカウントとパスワードを用意し、アクセス権限管理を実施します。なお、アカウントとパスワードは漏えい、滅失のないよう厳重に管理します。</p>

            <h4>◆個人情報の開示について</h4>
            <p>お客様の個人情報は以下のいずれかに該当する場合を除き、お客様の同意を得ることなく、第三者に開示することはありません。</p>
            <ul>
                <li>提供について本人の同意がある場合</li>
                <li>広告宣伝など提供されることを前提として収集されたものの場合</li>
                <li>情報処理の委託を行う場合 ・個人を識別することができない状態(年令別の統計など)で開示する場合 ・警察・検察・裁判所などの法的機関から提供を要求された場合</li>
                <li>法令等により要求された場合 ・人の生命、身体または財産の保護のために必要があり、ご本人の同意を得ることが困難である場合</li>
            </ul>
            <h4>◆個人情報の確認・訂正・削除について</h4>
            <p>当社にいただいた個人情報につきその内容の確認および変更・削除などを希望される場合には、法令等の基準に従い、 訂正、削除等を行います。</p>

            <h4>◆継続的改善について</h4>
            <p>当社が保有する個人情報に関して適用される個人情報の保護に関する日本の法令およびその他の規範を遵守するととも に、上記各項における取り組みおよび保護活動を維持、改善してまいります。</p>
            <p>個人情報に関するお問い合わせ先</p>
            <address>株式会社カナデル 広島県広島市中区大手町 1丁目5番10号<br>TEL.082-236-9313</address>
            <p>2020年12月1日 制定・施行</p>
        </section>
        <section id="sec4">
            <h2 class="guide_sub_heading">個人情報の取り扱いについて</h2>
            <p></p>
        </section>
        <section id="sec5">
            <h2>その他</h2>
        </section>
    </div>
</div>